$def with(friends)
<!DOCTYPE html>
<html>
		  <head>
		  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		  <title>发起活动</title>
		  <link href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		  <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
		  <script src="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap-theme.min.css"></script>
		  <script src="http://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
          <script src="http://apps.bdimg.com/libs/angular.js/1.2.15/angular.min.js"></script>

			<script>
            function validateCtrl($scope) {
            }
            </script>
		  <script>
var pastname="";
		  var count=0;</script>
		  </head>

		  <body>
          <!--head-->
          <div class="container">
            <div class="row clearfix">
              <div class="col-md-12 column">
                <h3 class="text-left">Sina AApay </h3>
                <ul class="nav nav-tabs">
                  <li > <a href="user_index">首页</a> </li>
                  <li class="active"> <a href="#">发起活动</a> </li>
                  <li> <a href="current_activity">当前进行的活动</a> </li>
                  <li> <a href="past_activity">过去的活动</a> </li>
                  <li> <a href="abort_activity">中止的活动</a> </li>
                </ul>
                <h3> 请填写活动的详细信息及参加人员</h3>
              </div>
            </div>
            <!--main-->
            <div class="row clearfix">
              <div class="col-md-12 column">
                <div class="row clearfix">
                 <div class="col-md-5 column">
                <form role="form" action="/sendBeginWeibo" method="POST" ng-app="" ng-controller="validateCtrl" name="myForm" novalidate>
                   
                    
                    
                    
                    
                      <div class="form-group has-feedback" ng-class="{ 'has-error' : myForm.ActivityName.$invalid && myForm.ActivityName.$dirty }">
                        <label for="ActivityName">活动名称</label>
                        <input id="ActivityName" type="text" class="form-control" name="ActivityName" ng-model="ActivityName" required>
                        <span class="float glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.ActivityName.$dirty && myForm.ActivityName.$valid" ></span>
                        
                        <span style="color:red" ng-show="myForm.ActivityName.$invalid && myForm.ActivityName.$dirty">
                        <span ng-show="myForm.ActivityName.$error.required||myForm.ActivityName.$pristine">请输入活动名称</span>
                        </span>
                      </div>                   






                      
                      <div class="form-group">
                        <label for="ActivityMoney">活动总金额</label>
                        <br /><small>本系统默认AA平摊方案，如需调整，请在发起活动后在重定义页面进行调整</small>
                        <input type="" class="form-control" name="ActivityMoney" />
                      </div>
                      
                      
                      <div class="form-group">
                        <label for="ActivityTime">活动时间</label>
                        <input type="" class="form-control" name="ActivityTime" />
                      </div>
                      
                      
                      <div class="form-group">
                        <label for="ActivityPosition">活动地点</label>
                        <input type="" class="form-control" name="ActivityPosition" />
                      </div>
                      <div class="form-group">
                        <label for="ActivityBrief">活动简介</label>
                        <textarea class="form-control" name="ActivityBrief" rows="3"></textarea>
                       </div>
                       
                                           
                      <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-default">发起活动</button>
                      
                    </div>
                    
                    
                    
                    
                    
                    <div class="col-md-1 column">
                    <br />
                    </div>
                    <div class="col-md-6 column">
                      <div STYLE='width:200;height:200;overflow-y:scroll;border:1px solid black'>
                        <ul>
                          $for friend in friends:
                          <li>
                            <input type='checkbox' name='$friends.index(name)' value= "$friend['uid']">
                            $friend[u'name']
                            <input  class="hidden" name='name' value="$friend[u'name']">
                            <input  class="hidden" name='account' value="$friend[u'account']">
                          </li>
                        </ul>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--footer-->
            <div style=" position: relative;bottom:-100px" >
              <hr style="height:2px">
              <div style="text-align:right"> <a href="/us">联系我们</a> </div>
              <p style="text-align: center;">SinaAAPay仅提供一个发布活动的平台，对任何法律问题及风险不承担任何责任。</p>
            </div>
          </div>
</body>
</html>
